extends layout

block head
  link(rel='stylesheet', href='/static/components/todomvc-common/base.css')
  link(rel='stylesheet', href='/static/styles/site.css')

block content
  div#todoapp


block foot
  script(type='text/javascript', src='/static/scripts/bundle.js')
