doctype html

html
  head
    link(rel='stylesheet', href='/static/styles/main.css')

  body
    div.row
      a.signin-button(href='/auth/google')


    .grid-items
      a.grid-item(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png', alt='')
        h1 Grid Item
        p Lorem ipsum dolor sit amet, elit. Rem, illum.
      a.grid-item.grid-item-big.grid-item-image(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png', alt='')
        h1 Grid Item With an Image
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
      a.grid-item.grid-item-big(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png', alt='')
        h1 Another Wide Item
        p
          | Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
      a.grid-item(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png', alt='')
        h1 Last Grid Item
        p Lorem ipsum dolor sit amet, elit. Rem, illum.
      a.grid-item(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png', alt='')
        h1 Last Grid Item
        p Lorem ipsum dolor sit amet, elit. Rem, illum.
      a.grid-item(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png', alt='')
        h1 A Grid Item
        p Lorem ipsum dolor sit amet, elit. Rem, illum.
      a.grid-item(href='javascript:void(0)')
        img(src='https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png', alt='')
        h1 Item
        p Lorem ipsum dolor sit amet, elit. Rem, illum.


    script(type='text/javascript', src='/static/scripts/bundle.js')
