extends layout

block head
  link(rel='stylesheet', href='/static/styles/signin.css')

block content
  div.signin-container
    h1.signin-title 
      i.fa.fa-check-square-o
      |  YATA YATA
    hr
    a.signin-button(href='/auth/google')
