doctype html

html
  head
    link(rel='stylesheet', href='/static/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/static/styles/style.css')
  body
    a.signin-button(href='/auth/google')


