link(rel='stylesheet', href='/static/styles/site.css')
link(rel='stylesheet', href='/static/components/animate-css/animate.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Nunito')
meta(name='csrf-token', content='#{crumb}')
